<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:replace="partials/head :: head(title='Add Dog')"></head>
	<a id="top"></a>
	<body>
		<div id="wrapper">
			<div th:replace="partials/header :: header(title='Add Dog')"></div>
			<main>

				<div id="FullPageIntro">
					<div id="AccInfo">
					<div id="login">
						<h2>Dog Information:</h2>
						<form action="#" th:action="@{'/account/' + ${customer.id} + '/dog/new'}" th:object="${dog}" method="post">
							<div class="form-row">
								<div class="col-md-6 form-group">
									<label>Name:</label><br>
									<input type="text" th:field="*{name}" required="required" class="form-control">
								</div>
								<div class="col-md-6 form-group">
									<label>Breed:</label><br>
									<input type="text" th:field="*{breed}" required="required" class="form-control">
								</div>
								<div class="col-md-6 form-group">
									<label>Size: (in inches)</label><br>
									<input type="number" th:field="*{size}" required="required" class="form-control">
								</div>
								<div class="col-md-6 form-group">
									<label>Weight: (in pounds)</label><br>
									<input type="number" th:field="*{weight}" required="required" class="form-control">
								</div>
								<div class="col-md-6 form-group">
									<label>Color:</label><br>
									<input type="text" th:field="*{color}" required="required" class="form-control">
								</div>
								<div class="col-md-6 form-group">
									<label>Temperament:</label><br>
									<input type="text" th:field="*{temperament}" required="required" class="form-control">
								</div>
								<div class="col-md-6 form-group">
									<label>Notes:</label><br>
									<textarea th:field="*{notes}" class="form-control"></textarea>
								</div>
								<br><br>
								<button type="submit" class="btn btn-primary btn-block mt-1" style = "background-color: #008573; border: none; color: white; padding: 1%; text-align: center; font-weight: bold;display: inline-block;font-size: 1em;cursor: pointer;width: 25%;border-radius: 10px;">Submit</button>
								<input type="reset" value="Reset" style = "background-color: red; border: none; color: white; padding: 1%; text-align: center; font-weight: bold;display: inline-block;font-size: 0.75em;cursor: pointer;width: 25%;border-radius: 10px;"/>

							</div>
						</form>
					</div>
					</div>
				</div>	
			</main>
		<div th:replace="partials/footer :: footer"></div>
	</body>
</html>
