<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:replace="partials/head :: head(title='Contact Us')"></head>
	<a id = "top"></a>
	<body>
		<div id="wrapper">
		<div th:replace="partials/header :: header(title='Contact Us')"></div>

	<main>

		<div id = "FullPageIntro">
			<div id="AccInfo">
			<div id="signup">
				<h2> Ask us how we can help </h2>

				<p>
					Choose your type of inquiry and enter it in below
					<br><br>
				</p>


				<form action="test.php" method="post">



					<label for="qType">Choose the type of inquiry: </label>
					<select id="qType" name="question type">
						<option value="Question">Question?</option>
						<option value="Comment">Comment</option>
						<option value="Complaint">Complaint</option>
					</select>

					<br >
					<br >

					<br>
					<label>
						<textarea cols="40" name="comments" rows="5">Enter your inquiry here</textarea>
					</label>

					<br><br>

					<br><br>
					<button class="subButton">Submit</button>


				</form>

			</div>

			</div>



		</div>


	</main>




</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>
