<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
 	<head th:replace="partials/head :: head(title='Paw Portal')"></head>
	<a id = "top"></a>
	<body>
		<div id="wrapper">
		<div th:replace="partials/header :: header(title='Paw Portal')"></div>
			<main>
				<div id="links">
					<div id="login">
						<h2> Customer/Walker Login </h2>
						<form action="test.php" method="post">
							<br />
							<label for="Email">E-mail</label>
							<input type="email" name="Email" id="Email" required="required" placeholder="Enter your email">
							<br /><br />
							<label for="Password"> Password</label>
							<input type="password" name="Password" id="Password" required="required" placeholder="Enter your password">
							<br /><br /><br />
							<button class="button">Log In</button>
							<br /><br />
						</form>
						<p class="link">Don't have an account? Sign up today!</p>
						<br />
						<button onclick="window.location.href='/signup';" class="button">Sign Up</button>
					</div>
				</div>

				<div id="intro">
					<div id="AccInfo">
					<h2>Welcome to Paw Portal!</h2>
					<p>We connect busy dog owners with a network of pet lovers in your area who will walk, feed, and pet them when you are out of town or busy with work.</p>
					<h3>Our Rates:</h3>
					<ul>
						<li> Walking: $10/hr</li>
						<li> Sitting: $8/hr</li>
						<li> Feeding: $10/meal</li>
					</ul>
					
					<p>
						<span style="color:#008573;font-weight:bold">Log In</span>
						or
						<span style="color:#008573;font-weight:bold">Sign Up</span>
						to get started!
					</p>
					</div>
				</div>
			</main>
		</div>
		<div th:replace="partials/footer :: footer"></div>
	</body>
</html>
