<div th:fragment="header">
    <header>
      <a href="/"><h1 th:text="${title}"></a>
			<a href="/">
				<img th:src="@{/images/logo.png}" alt="Paw Portal Logo" style="height:7%;width:7%" align="right" />
			</a>
		</h1>
    </header>
    <h2 th:if="${customer ne null and customer.firstName ne null}" th:text="${'Hi, ' + customer.firstName + '!'}"}></h2>
    <nav th:if="${customer ne null}">
        <a th:href="@{/}">Home</a>&nbsp;
        <a th:href="@{'/account/' + ${customer.id}}">My Account</a>&nbsp;
        <a th:href="@{'/account/' + ${customer.id} + '/paws'}">My Paws</a>&nbsp;
        <a th:href="@{'/account/' + ${customer.id} + '/appointment'}">Appointments</a>&nbsp;
        <a th:href="@{/contact_us}">Contact Us</a>&nbsp;
    </nav>
    <nav th:if="${customer eq null}">
      <a th:href="@{/}">Home</a>&nbsp;
      <a th:href="@{/}">My Account</a>&nbsp;
      <a th:href="@{/}">My Paws</a>&nbsp;
      <a th:href="@{/}">Appointments</a>&nbsp;
      <a th:href="@{/contact_us}">Contact Us</a>&nbsp;
  </nav>
</div>
