<div th:fragment="header">
    <header>
		<h1> Paw Portal
			<a href = "/">
				<img src="../../static/images/logo.png" th:src="@{images/logo.png}" alt="Paw Portal Logo" style="height:7%;width:7%" align="right" />
			</a>
		</h1>
    </header>
    <nav>
        <a href="/">Home</a>&nbsp;
        <a href="/appointment">Appointments</a>&nbsp;
        <a href="/account">My Account</a>&nbsp;
        <a href="/paws">My Paws</a>&nbsp;
        <a href="/contact_us">Contact Us</a>&nbsp;
    </nav>
</div>
