<!--
SWENG 411 Project
PawPortal
Account PAGE
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<title> My Account </title>
	<link rel="icon" href="../static/images/logo.png" th:src="@{../images/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css"/>
	<link media="print" href="../static/css/print.css" th:href="@{css/print.css}">
</head>
<a id = "top"></a>
<body>
<style>
	img {
		width: 100%;
		height: auto;
	}
</style>
<div id="wrapper">
<header>
<h1> My Account </h1>
</header>

<nav>

<a href = "/"> Home </a> &nbsp;

<a href = "/appointment"> Appointments </a> &nbsp;

<a href = "/account"> My Account </a> &nbsp;

<a href = "/paws"> Paws </a> &nbsp;

<a href = "/contact_us"> Contact Us  </a>

</nav>

<main>
<div id="links">

<div id="AccInfoImg">
<img src="../static/images/profilePic.jpg" height= "300" width = "400" alt="Profile Picture" th:src="@{../images/profilePic.jpg}">
<a href="#"> Add/Edit Image </a>
<p>

</p>

</div>
</div>

<div id="intro" >

<div id="AccInfo">
<h2>Personal Information: </h2>

<p>
Name: <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
<br><br>
Customer ID: yeah
<br><br>
Email: <span th:text="${customer.email}"></span>
<br><br>
Address: <span th:text="${customer.address}"></span>
<br><br>
Phone Number: <span th:text="${customer.phoneNum}"></span>
<br><br>
Payment Method: Debit Card - ending XX45
<br><br>
Note: The Code to my building is 56980
</p>

</div>
<a href="#"> Edit Information </a>

</div>


</main>


</div>
</body>
<footer>

<br>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:portalpaw532@gmail.com"> dogwalking@pawportal.com </a>
</footer>
</html>