<!--
SWENG 411 Project
PawPortal
Account PAGE
 -->
<!DOCTYPE html>
<html lang="en">
	<head th:replace="partials/head :: head(title='My Account')"></head>
	<a id = "top"></a>
	<body>
		<div id="wrapper">
		<div th:replace="partials/header :: header(title='My Account')"></div>
		<main>

			<div id="FullPageIntro" >

				<div id="AccInfo">
				<h3>Personal Information </h3>

					<div id="AccInfoImg">
						<img src="../static/images/profilePic.jpg" height= "300" width = "400"  alt="Profile Picture" th:src="@{images/profilePic.jpg}">
						<br><button class="subButton"> Add/Edit Image </button>

					</div>

				<p>
				Name: First Middle Last
				<br><br>
				Customer ID: 3412
				<br><br>
				Email: your@email.com
				<br><br>
				Address: 1234 Street Road, City, State 09876
				<br><br>
				Phone Number: (987)123 4567
				<br><br>
				Payment Method: Debit Card - ending XX45
				<br><br>
				Note: The Code to my building is 56980
				</p>
					<button class="subButton"> Edit Information </button>
				</div>


			</div>


		</main>


	</div>
	<div th:replace="partials/footer :: footer"></div>
</body>
</html>