<!--
SWENG 411 Project
PawPortal
Appointment PAGE
 -->
<!DOCTYPE html>

<html lang="en">
	<head th:replace="partials/head :: head(title='Appointments')"></head>
	<a id = "top"></a>
	<body>
		<div id="wrapper">
		<div th:replace="partials/header :: header(title='Appointments')"></div>
		<main>
			<div id="links">


				<div id="AccInfo">
		<p>
		</p>
		<h4>Previous Appointments:</h4>

		<br><br>
		Monday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
		<br><br>
		Tuesday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
		<br><br>
		Thursday &nbsp; @ 8:00 PM &nbsp; Walk 2hrs
		<br><br>
		Friday &nbsp; @ 6:00 PM &nbsp; Feed 1 Meal
		<br><br>
		Sunday &nbsp; @ 12:00 PM &nbsp; Pet Sitting 8hrs

		<h4>Upcoming Appointments:</h4>

		<br><br>
		Monday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
		<br><br>
		Tuesday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
		<br><br>
		Thursday &nbsp; @ 8:00 PM &nbsp; Walk 2hrs
		<br><br>
		Friday &nbsp; @ 6:00 PM &nbsp; Feed 1 Meal
		<br><br>
		Sunday &nbsp; @ 12:00 PM &nbsp; Pet Sitting 8hrs

		</div>
			</div>

			<div id="intro" >


				<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst
				=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=cG9ydGFscGF3NTMyQGdtYWl
				sLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGU
				uY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color
				=%23039BE5&color=%2333B679&color=%230B8043" style="border:none;overflow:hidden"
				 width="800" height="600"></iframe>
					<!--
					style border was set to solid 1px #777 yet "frameborder" was 0?
					scrolling="no" replaced with overflow:hidden
					 -->
			</div>


		</main>


	</div>
	<div th:replace="partials/footer :: footer"></div>
</body>
</html>