<!--
SWENG 411 Project
PawPortal
Appointment PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> My Appointments </title>
	<link rel="icon" href="logo.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="style.css" rel="stylesheet" type="text/css"  />
	<link media="print" href="print.css">
</head>
<a name = "top"></a>
<body>
<div id="wrapper">
<header>
<h1> Schedule Appointments <h1>
</header>

<nav>
<a href = "index.html"> Home </a> &nbsp;

<a href = "appointment.html"> Appointments </a> &nbsp;

<a href = "account.html"> My Account </a> &nbsp;

<a href = "paws.html"> Paws </a> &nbsp;

<a href = "contact us.html"> Contact Us  </a> 
 
</nav>


<main>
<div id="links">


<div id="AccInfo">
<p>
<h2>Previous Appointments:</h2>

<br><br>
Monday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
<br><br>
Tuesday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
<br><br>
Thursday &nbsp; @ 8:00 PM &nbsp; Walk 2hrs
<br><br>
Friday &nbsp; @ 6:00 PM &nbsp; Feed 1 Meal
<br><br>
Sunday &nbsp; @ 12:00 PM &nbsp; Pet Sitting 8hrs

<h2>Upcoming Appointments:</h2>

<br><br>
Monday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
<br><br>
Tuesday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
<br><br>
Thursday &nbsp; @ 8:00 PM &nbsp; Walk 2hrs
<br><br>
Friday &nbsp; @ 6:00 PM &nbsp; Feed 1 Meal
<br><br>
Sunday &nbsp; @ 12:00 PM &nbsp; Pet Sitting 8hrs
</p>
</div>
</div>

<div id="intro" >


<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst
=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=cG9ydGFscGF3NTMyQGdtYWl
sLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGU
uY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color
=%23039BE5&color=%2333B679&color=%230B8043" style="border:solid 1px #777"
 width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>


</main>


</div>
</body>

<footer>

<br>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:portalpaw532@gmail.com"> dogwalking@pawportal.com </a>
</footer>
</html>