<!--
SWENG 411 Project
PawPortal
Appointment PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
  <title> Jobs </title>
  <link rel="icon" href="../static/images/logo.png" th:src="@{images/logo.png}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device, initial-scale=1.0">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
  <link media="print" href="../static/css/print.css" th:href="@{css/print.css}">
</head>
<a id = "top"></a>
<body>
<div id="wrapper">
  <header>
    <h1> Jobs
      <a href = "/index">
        <img src="../static/images/logo.png" style="height:7%;width:7%"  align = "right" link alt = "Paw Portal Logo" th:src="@{images/logo.jpg}"/>
      </a>
    </h1>
  </header>

  <nav>
    <a href = "/empHome"> Home </a> &nbsp;

    <a href = "/empAppointment"> Appointments </a> &nbsp;

    <a href = "/empAccount"> My Account </a> &nbsp;

    <a href = "/Jobs"> Jobs </a> &nbsp;

    <a href = "/empContact_us"> Contact Us  </a>

  </nav>


  <main>

    <div id="FullPageIntro" >

      <div id="AccInfo">
        <p>
        </p>
        <h2>Jobs</h2>

        <h4>Your Jobs:</h4>

        <br><br>
        Monday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
        <br><br>
        Tuesday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
        <br><br>
        Thursday &nbsp; @ 8:00 PM &nbsp; Walk 2hrs
        <br><br>
        Friday &nbsp; @ 6:00 PM &nbsp; Feed 1 Meal
        <br><br>
        Sunday &nbsp; @ 12:00 PM &nbsp; Pet Sitting 8hrs

        <h4>Open Jobs:</h4>

        <br><br>
        Monday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
        <br><br>
        Tuesday &nbsp; @ 5:00 PM &nbsp; Walk 1hr
        <br><br>
        Thursday &nbsp; @ 8:00 PM &nbsp; Walk 2hrs
        <br><br>
        Friday &nbsp; @ 6:00 PM &nbsp; Feed 1 Meal
        <br><br>
        Sunday &nbsp; @ 12:00 PM &nbsp; Pet Sitting 8hrs

      </div>

    </div>


  </main>


</div>
</body>

<footer>
  <a href=#top> Back to top </a> &nbsp;
  <br>
  <br>
  Copyright &copy; 2022 Paw Portal, Inc <br>
  <a href = "mailto:portalpaw532@gmail.com"> dogwalking@pawportal.com </a>
</footer>
</html>