<!--
Taazkir Nasir
CIS 130
Professor Barbra Hearn 
Final Website Project

HOME PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> Paw Portal </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="cybersecurity.css" rel="stylesheet" type="text/css"  />
	<link media="print" href="print.css">
</head>
<a name = "top"></a>
<body>
<div id="wrapper">
<header>
<h1> Paw Portal </h1>
</header>



<main>
<div id="links">

<img src="dog.jpg" height= "auto" width = "100%" alt = "Cybersecurity Jargon" />

<h2>  </h2>
<p>

<ol>

</ol>
</p>

<h2>  </h2>
<p>

<ul>

</ul>
</p>

</div>

<div id="intro" >
<h2> Signup or Login </h2>


<form action="http://webdevbasics.net/scripts/pacific.php" method="post">

<br >

<label for="Email">*E-mail:</label>
	<input type="email" name="Email" id="Email" required="required" placeholder="Enter an email address.">
<br >
<br >

<label for="Password">*Password:</label>
	<input type="text" name="Password" id="Password" required="required" placeholder="Please enter your password">

<br>

<br> 

<br>


<label><input name="terms" type="checkbox" value="tandc" required="required"/>Accept terms and Privacy Policy </label> 

<br><br>
	<input type="submit" value="Login"  />
	<input type="submit" value="Sign Up"  />
	<input type="reset" value="Reset" style = "background-color:#c63535; color: #ffffff;"/>

</form>

</div>


 

</main>



<footer>
<a href="#top">Back to Top</a>
<br>
<nav>


</nav>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:tpn5232@psu.edu"> dogwalking@pawportal.com </a>
</footer>
</div>







</body>
</html>