<!--
Taazkir Nasir

LOGIN PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> Paw Portal </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="../static/css/cybersecurity.css" rel="stylesheet" type="text/css" th:href="@{css/cybersecurity.css}" />
	<link media="print" href="../static/css/print.css" th:href="@{css/print.css}" >
</head>
<a id = "top"></a>
<body>
<style>
	img {
		width: 100%;
		height: auto;
	}
</style>
<div id="wrapper">
<header>
<h1> Paw Portal </h1>
</header>



<main>
<div id="links">

<img src="../static/images/dog.jpg" height= "228" width = "221" alt = "Cybersecurity Jargon" th:src="@{images/dog.jpg}" />

<h2>  </h2>
<p>
</p>
<ol>

</ol>


<h2>  </h2>
<p>
</p>
<ul>

</ul>


</div>

<div id="intro" >
<h2> Signup or Login </h2>


<form action="https://webdevbasics.net/scripts/pacific.php" method="post">

<br >

<label for="Email">*E-mail:</label>
	<input type="email" name="Email" id="Email" required="required" placeholder="Enter an email address.">
<br >
<br >

<label for="Password">*Password:</label>
	<input type="text" name="Password" id="Password" required="required" placeholder="Please enter your password">

<br>

<br> 

<br>


<label><input name="terms" type="checkbox" value="tandc" required="required"/>Accept terms and Privacy Policy </label> 

<br><br>
	<input type="submit" value="Login"  />
	<input type="submit" value="Sign Up"  />
	<input type="reset" value="Reset" style = "background-color:#c63535; color: #ffffff;"/>

</form>

</div>


 

</main>



<footer>
<a href="#top">Back to Top</a>
<br>
<nav>


</nav>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:tpn5232@psu.edu"> dogwalking@pawportal.com </a>
</footer>
</div>







</body>
</html>