<!--
SWENG 411 Project
PawPortal
Pet PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> My Paws </title>
	<link rel="icon" href="logo.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="style.css" rel="stylesheet" type="text/css"  />
	<link media="print" href="print.css">
</head>
<a name = "top"></a>
<body>
<div id="wrapper">
<header>
<h1> My Paws <h1>
</header>

<nav>

<a href = "index.html"> Home </a> &nbsp;

<a href = "Appointment.html"> Appointments </a> &nbsp;

<a href = "account.html"> My Account </a> &nbsp;

<a href = "paws.html"> Paws </a> &nbsp;

<a href = "contact us.html"> Contact Us  </a> 

</nav>

<main>

<div id="intro" >

<div id="AccInfo">
<h2>Pet 1 Information: </h2>
<img src="dog.jpg" height= "30%" width = "30%" alt = "Dogs Profile Picture" />
<p>
Name: First Last 
<br><br>
Customer ID: 3412
<br><br>
Breed: 
<br><br>
Color: 
<br><br>
Weight: 
<br><br>
Height: 
<br><br>
Note: 
</p>
<a href="#"> Edit Information </a></p>
</div>

<div id="AccInfo">
<h2>Pet 2 Information: </h2>
<img src="puppy.jpg" height= "30%" width = "30%" alt = "Dogs Profile Picture" />
<p>
Name: First Last 
<br><br>
Customer ID: 3412
<br><br>
Breed: 
<br><br>
Color: 
<br><br>
Weight: 
<br><br>
Height: 
<br><br>
Note: 
</p>
<a href="#"> Edit Information </a></p>
</div>

</p>



</div>

<div id="links">




</div>
 

</main>

</div>

</body>
<footer>

<br>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:portalpaw532@gmail.com"> dogwalking@pawportal.com </a>
</footer>
</html>