<!--
SWENG 411 Project
PawPortal
My Paws PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> My Paws </title>
	<link rel="icon" href="../static/images/logo.png" th:src="@{images/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
	<link media="print" href="../static/css/print.css" th:href="@{css/print.css}">
</head>
<a id = "top"></a>
<body>
	<div id="wrapper">
		<header>
		<h1> My Paws
			<a href = "/index">
			<img src="../static/images/logo.png" style="height:7%;width:7%"   align="right" alt = "Paw Portal Logo" th:src="@{images/logo.jpg}"/>
			</a>
		</h1>
		</header>

		<nav>

			<a href = "/home"> Home </a> &nbsp;

			<a href = "/appointment"> Appointments </a> &nbsp;

			<a href = "/account"> My Account </a> &nbsp;

			<a href = "/paws"> Paws </a> &nbsp;

			<a href = "/contact_us"> Contact Us  </a>

		</nav>

		<main>

			<div id="FullPageIntro" >

				<div id="AccInfo">

					<div id="AccInfo1">

					<h2>Pet 1 Information: </h2>
					<img src="../static/images/dog.jpg" style="height:30%;width:30%" height= "228" width = "221" alt = "Dogs Profile Picture" th:src="@{images/dog.jpg}"/>
						<br><button class="subButton"> Add/Edit Image </button>
					<p>
					Name: First Last
					<br><br>
					Customer ID: 3412
						<br><br>
						Age:
					<br><br>
					Breed:

					<br><br>
					Color:
					<br><br>
					Weight:
					<br><br>
					Height:
					<br><br>
					Note:
					</p>
						<button class="subButton"> Edit Information </button>

					</div>


					<div id="AccInfo2">

					<h2>Pet 2 Information: </h2>
					<img src="../static/images/puppy.jpg" style="height:30%;width:30%" height= "183" width = "275" alt = "Dogs Profile Picture" th:src="@{images/puppy.jpg}"/>
						<br><button class="subButton"> Add/Edit Image </button>
					<p>
					Name: First Last
					<br><br>
					Customer ID: 3412
						<br><br>
						Age:
					<br><br>
					Breed:
					<br><br>
					Color:
					<br><br>
					Weight:
					<br><br>
					Height:
					<br><br>
					Note:
					</p>
						<button class="subButton"> Edit Information </button>

					</div>

				</div>
				<button class="subButton"> Add Dog </button>
			</div>

		</main>

	</div>

</body>


<footer>
	<a href=#top> Back to top </a> &nbsp;
<br>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:portalpaw532@gmail.com"> dogwalking@pawportal.com </a>
</footer>
</html>