<!--
SWENG 411 Project
PawPortal
Signup Info PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
    <title> Sign Up Info </title>
    <link rel="icon" href="../static/images/logo.png" th:src="@{images/logo.png}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
    <link media="print" href="../static/css/print.css" th:href="@{css/print.css}">
</head>
<a id = "top"></a>
<body>
<div id="wrapper">
    <header>
        <h1> Confirm Sign Up
            <a href = "/index">
                <img src="../static/images/logo.png" style="height:7%;width:7%" align = "right" alt = "Paw Portal Logo" th:src="@{images/logo.jpg}"/>
            </a>
        </h1>
    </header>



    <main>


        <div id="FullPageIntro" >

            <div id="AccInfo">


                <br>
                <h3> Confirm Personal Information: </h3>

                <p>Continue signing up if everything looks good or edit your information.</p>

                Name: First Middle Last
                <br><br>
                Customer ID: 3412
                <br><br>
                Email: your@email.com
                <br><br>
                DoB: 01/01/2000
                <br><br>
                Address: 1234 Street Road, City, State 09876
                <br><br>
                Phone Number: (987)123 4567
                <br><br>
                Number of Dogs: 1

                <br><br><button class="subButton">Continue Sign Up</button> &nbsp; <button class="resetButton" >Edit Information </button>



            </div>


        </div>


    </main>

</div>

</body>

<footer>
    <br>
    Copyright &copy; 2022 Paw Portal, Inc <br>
    <a href = "mailto:tpn5232@psu.edu"> dogwalking@pawportal.com </a>
</footer>
</html>