<!--
SWENG 411 Project
PawPortal
Sign Up PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> Sign Up </title>
	<link rel="icon" href="../static/images/logo.png" th:src="@{images/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
	<link media="print" href="../static/css/print.css" th:href="@{css/print.css}">
</head>
<a id = "top"></a>
<body>
<div id="wrapper">
	<header>
		<h1> Paw Portal
			<a href = "/index">
				<img src="../static/images/logo.png" style="height:7%;width:7%" align = "right" alt = "Paw Portal Logo" th:src="@{images/logo.jpg}"/>
			</a>
		</h1>
	</header>



	<main>


		<div id="FullPageIntro" >

			<div id="AccInfo">


					<div id="signup">
						<h2> Sign Up </h2>

						<form action="test.php" method="post">

						<br >

						<label for="Email">*E-mail:</label> <br>

							<input type="email" name="Email" id="Email" required="required" placeholder="Enter your email address."/>
						<br >
						<br >

						<label for="Password"> *Password:</label> <br>

							<input type="text" name="Password" id="Password" required="required" placeholder="Please enter your password"/>
						<br>
						<br>
						<label for="Password"> *Confirm Password:</label><br>
							<input type="text" name="Password" id="Confirm Password" required="required" placeholder="Please confirm your password"/>


						<br><br>
							<button class="subButton">Sign Up</button>



					</form>
					</div>

			</div>


</div>


</main>

</div>

</body>

<footer>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:tpn5232@psu.edu"> dogwalking@pawportal.com </a>
</footer>
</html>