<!--
SWENG 411 Project
PawPortal
Landing PAGE
 -->
<!DOCTYPE html>

<html lang="en">


<head>
	<title> Sign Up </title>
	<link rel="icon" href="../static/images/logo.png" th:src="@{images/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device, initial-scale=1.0">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
	<link media="print" href="../static/css/print.css" th:href="@{css/print.css}">
</head>
<a id = "top"></a>
<body>
<div id="wrapper">
<header>
<h1> Paw Portal </h1>
</header>



<main>


<div id="intro" >

<div id="AccInfo">
<h2> Signup </h2>


<form action="https://webdevbasics.net/scripts/pacific.php" method="post">

<br >

<label for="Email">*E-mail:</label> 
	<input type="email" name="Email" id="Email" required="required" placeholder="Enter your email address.">
<br >
<br >

<label for="PasswordInit"> *Password:</label>
	<input type="text" name="Password" id="PasswordInit" required="required" placeholder="Please enter your password">
<label for="PasswordCheck"> *Confirm Password:</label>
	<input type="text" name="Password" id="PasswordCheck" required="required" placeholder="Please confirm your password">
<br>

<br> 

<br>


<label><input name="terms" type="checkbox" value="tandc" required="required"/>Accept terms and Privacy Policy </label> 

<br><br>
	<input type="submit" value="Sign Up"  />
	<input type="reset" value="Reset" style = "background-color:#c63535; color: #ffffff;"/>

</form>


</div>


</div>

<div id="links">

<img src="../static/images/dog_with_leash.jpg" style="height:auto;width:auto" height= "183" width = "275" alt = "dog holding leash" th:src="@{images/dog_with_leash.jpg}"/>

<h2>  </h2>
<p>

<ol>

</ol>


<h2>  </h2>
<p>

<ul>

</ul>


</div>


</main>

</div>

</body>

<footer>
<br>
Copyright &copy; 2022 Paw Portal, Inc <br>
<a href = "mailto:tpn5232@psu.edu"> dogwalking@pawportal.com </a>
</footer>
</html>