<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="partials/head :: head(title='My Account')"></head>
	<a id="top"></a>
	<body>
		<div id="wrapper">
			<div th:replace="partials/header :: header(title='My Account')"></div>
			<main>
			<div id="links">
				<div id="AccInfoImg">
					<img src="../../static/images/profilePic.jpg" height="300" width="400" alt="Profile Picture" th:src="@{/images/profilePic.jpg}">
				</div>
			</div>
			<div id="intro" >
				<div id="AccInfo">
					<h2>Personal Information:</h2>
					<p>
						Name: <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
						<br><br>
						Customer ID: <span th:text="${customer.id}"></span>
						<br><br>
						Email: <span th:text="${customer.email}"></span>
						<br><br>
						Address: <span th:text="${customer.address}"></span>
						<br><br>
						Phone Number: <span th:text="${customer.phoneNum}"></span>
					</p>
					</div>
					<a th:href="@{'/account/' + ${customer.id} + '/edit'}"><button class="subButton">Edit Information</button></a>
					<br /><br />
					<form th:action="@{'/account/' + ${customer.id} + '/delete'}" method="post">
						<button type="submit" class="subButton" onclick="if (!confirm('Are you sure?')) return false;">Delete Account</button>
					</form>
					<br />
					<form th:action="@{'/account/' + ${customer.id} + '/signout'}" method="post">
						<button type="submit" class="subButton" onclick="if (!confirm('Are you sure?')) return false;">Log Out</button>
					</form>
				</div>
			</main>
		</div>
		<div th:replace="partials/footer :: footer"></div>
	</body>
</html>
