<!--
SWENG 411 Project
PawPortal
Signup Info PAGE
 -->
<!DOCTYPE html>

<html lang="en">
    <head th:replace="partials/head :: head(title='Add Paws')"></head>
	<a id = "top"></a>
	<body>
		<div id="wrapper">
		<div th:replace="partials/header :: header(title='Add Paws')"></div>
    <main>


        <div id="FullPageIntro" >

            <div id="AccInfo">


                <div id="signup">
                    <h2> Enter Dog's Information: </h2>

                    <p>Required fields are marked with an asterisk (*).</p>

                    <form action="test.php" method="post">

                        <br >
                        <label for="DogPic"> Add a Profile Picture:</label> <br>
                        <input type="file" name="DogPic" id="DogPic" required="required" placeholder="Add Dog's Picture">
                        <br>
                        <br>
                        <label for="DName"> *Name:</label> <br>
                        <input type="text" name="dog name" id="DName" required="required" placeholder="Dog's Name">
                        <br>
                        <br>
                        <label for="DoB">*Date of Birth</label><br>
                        <input type = "date" name = "birthday" id = "DoB" value = "">
                        <br>
                        <br>
                        <label for="Weight"> *Weight </label> <br>
                        <input type="text" name="weight" id="Weight" required="required"  placeholder="Dog's Weight ">
                        <br>
                        <br>
                        <label for="Height"> *Height </label> <br>
                        <input type="text" name="height" id="Height" required="required" placeholder="Dog's Height">
                        <br>
                        <br>
                        <label for="Breed"> *Breed </label> <br>
                        <input type="text" name="breed" id="Breed" required="required"  placeholder="Dog's Breed">
                        <br>
                        <br>
                        <label for="Color"> *Color </label> <br>
                        <input type="text" name="color" id="Color" required="required"  placeholder="Dog's Color">
                        <br>
                        <br>
                        <label for="DogNotes1"> Note(s): </label> <br>
                        <input type="text" name="dog notes 1" id="DogNotes1" required="required"  placeholder="Note Line 1">
                        <label for="DogNotes2">  </label> <br>
                        <input type="text" name="dog notes 2" id="DogNotes2" required="required"  placeholder="Note Line 2">
                        <label for="DogNotes3"> </label> <br>
                        <input type="text" name="dog notes 3" id="DogNotes3" required="required"  placeholder="Note Line 3">
                        <label for="DogNotes4"> </label> <br>
                        <input type="text" name="dog notes 4" id="DogNotes4" required="required"  placeholder="Note Line 4">
                        <label for="DogNotes5"> </label> <br>
                        <input type="text" name="dog notes 5" id="DogNotes5" required="required"  placeholder="Note Line 3">






                        <br>
                        <br>
                        <button class="subButton">Add Dog</button> &nbsp; <button class="resetButton" >Reset </button>



                    </form>
                </div>

            </div>


        </div>


    </main>

</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>