<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="partials/head :: head(title='Registration Successful')"></head>
	<a id = "top"></a>
	<body>
		<div id="wrapper">
		<div th:replace="partials/header :: header(title='Registration Successful')"></div>
<main>
	<div id="FullPageIntro">
		<div id="AccInfo">
			<h2>Registration Unsuccessful </h2>
			<H4> Your email address was already used to make an account here. Go to <a href="/">Home</a></H4>
		</div>
	</div>
</main>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>
