<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="partials/head :: head(title='Sign Up')"></head>
	<a id="top"></a>
	<body>
		<div id="wrapper">
			<div th:replace="partials/header :: header(title='Sign Up')"></div>
			<main>
				<div id="intro">
					<div id="AccInfo">
						<h2>Sign Up</h2>
						<div id="login">
							<form action="#" th:action="@{/registration_processed}" th:object="${customer}" method="post">
								<div class="form-row">
									<div class="col-md-6 form-group">
										<label>* First Name:</label><br>
										<input type="text" th:field="*{firstName}" required="required" class="form-control" placeholder="Enter your First Name.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Last Name:</label><br>
										<input type="text" th:field="*{lastName}" required="required" class="form-control" placeholder="Enter your Last Name.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Phone Number:</label><br>
										<input type="text" th:field="*{phoneNum}" required="required" class="form-control" placeholder="Enter your phone number.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Email:</label><br>
										<input type="email" th:field="*{email}" required="required" class="form-control" placeholder="Enter your email address.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Address:</label><br>
										<input type="text" th:field="*{address}" required="required" class="form-control" placeholder="Enter your home address.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Password:</label><br>
										<input type="password" th:field="*{password}" required="required" class="form-control" placeholder="Please enter your password">
									</div>
									<div class="col-md-6 form-group">
										<label>* Confirm Password:</label><br>
										<input type="password" required="required" class="form-control" placeholder="Please confirm your password">
									</div>
								</div>
								<label><input name="terms" type="checkbox" value="tandc" required="required"/>Accept terms and Privacy Policy</label> 
								<br><br>
								<button type="submit" class="btn btn-primary btn-block mt-1">Sign Up</button>
								<input type="reset" value="Reset" style = "background-color:#c63535; color: #ffffff;"/>
							</form>
						</div>
					</div>
				</div>
				<div id="links">
					<img src="../static/images/dog_with_leash.jpg" th:src="@{images/dog_with_leash.jpg}" height="auto" width ="auto" alt="dog holding leash" />
				</div>
			</main>
		</div>
		<div th:replace="partials/footer :: footer"></div>
	</body>
</html>
