<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="partials/head :: head(title='Sign Up')"></head>
	<a id="top"></a>
	<body>
		<div id="wrapper">
			<div th:replace="partials/header :: header(title='Sign Up')"></div>
			<main>
				<br>
				<div id="FullPageIntro">
					<div id="AccInfo">
						<div id="login">
							<h2>Sign Up</h2>
							<form action="#" th:action="@{/registration_processed}" th:object="${customer}" method="post">
								<div class="form-row">
									<div class="col-md-6 form-group">
										<label>* First Name:</label><br>
										<input type="text" th:field="*{firstName}" required="required" class="form-control" placeholder="Enter your First Name.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Last Name:</label><br>
										<input type="text" th:field="*{lastName}" required="required" class="form-control" placeholder="Enter your Last Name.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Phone Number:</label><br>
										<input type="text" th:field="*{phoneNum}" required="required" class="form-control" placeholder="Enter your phone number.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Email:</label><br>
										<input type="email" th:field="*{email}" required="required" class="form-control" placeholder="Enter your email address.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Address:</label><br>
										<input type="text" th:field="*{address}" required="required" class="form-control" placeholder="Enter your home address.">
									</div>
									<div class="col-md-6 form-group">
										<label>* Password:</label><br>
										<input type="password" th:field="*{password}" required="required" class="form-control" placeholder="Please enter your password">
									</div>
									<div class="col-md-6 form-group">
										<label>* Confirm Password:</label><br>
										<input type="password" required="required" class="form-control" placeholder="Please confirm your password">
									</div>
								</div>
								<br>
								<label><input name="terms" type="checkbox" value="tandc" required="required" style="font-size: 0.5em; padding-right: 50%;"/>Accept terms and Privacy Policy</label>
								<br><br>
								<button type="submit" class="btn btn-primary btn-block mt-1" style = "background-color: #008573; border: none; color: white; padding: 1%; text-align: center; font-weight: bold;display: inline-block;font-size: 1em;cursor: pointer;width: 25%;border-radius: 10px;">Sign Up</button>
								<input type="reset" value="Reset" style = "background-color: red; border: none; color: white; padding: 1%; text-align: center; font-weight: bold;display: inline-block;font-size: 0.75em;cursor: pointer;width: 25%;border-radius: 10px;"/>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div th:replace="partials/footer :: footer"></div>
	</body>
</html>
